@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ocorreu um erro";
}

<h1 class="text-danger">Ocorreu um erro :(</h1>
<h2 class="text-danger">Tente novamente ou contate um administrador.</h2>

