@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Página não encontrada!";
}

<h1 class="text-danger">Página não encontrada :(</h1>
<h2 class="text-danger">A página que você está procurando não existe.</h2>

